body {
  background-color: rgb(0, 0, 0);
  background-image: url("https://images.pexels.com/photos/206359/pexels-photo-206359.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Space Grotesk", sans-serif;
}

h1 {
  color: rgb(88, 34, 139);
  text-align: center;
  font-size: 60px;
  font-weight: 1000px;
  font-family: "Space Grotesk", sans-serif;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  background: rgb(196, 218, 231);
}

.weatherApp {
  background: rgb(196, 218, 231);
  max-width: 650px;
  max-height: 800px;
  margin: 120px auto;
  padding: 30px 30px 0px 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(203, 191, 234, 0.08);
  border: solid;
}

.searchFormInput {
  background-color: white;
  border: solid;
  border-color: #031c56;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 10px;
}

.searchButton {
  margin-left: 5px;
  font-size: 16px;
  background-color: #031c56;
  color: white;
  border: solid;
  border-color: #031c56;
  padding: 20px;
  line-height: 1;
  border-radius: 10px;
}

header {
  border-bottom: 3px solid #3404ad;
  padding-bottom: 30px;
}

main {
  padding: 60px 0;
}

.currentWeather {
  display: flex;
  justify-content: space-between;
}

.currentCity {
  font-size: 65px;
  font-weight: 700;
  margin: 0;
  position: relative;
  left: 50px;
  top: -50px;
  color: rgb(88, 34, 139);
}

.currentDetails {
  color: rgba(16, 4, 72, 0.888);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  background: rgb(217, 182, 243);
  max-width: 300px;
  margin: 10px;
  padding: 25px;

  border-radius: 20px;
  border: 500px;
  border-color: #031c56;

  position: relative;
  bottom: 60px;
  left: 50px;
}

.currentDetails strong {
  color: #f65282;
}

#weatherCondition {
  font-weight: 800;
}

#currentTemperature {
  display: flex;
  margin-top: -220px;
  margin-left: 350px;
}

#icon {
  font-size: 80px;
}

#currentTemperatureValue {
  font-size: 80px;
  font-weight: bold;
  color: #3404ad;
}

.currentTemperatureUnit {
  font-size: 20px;
  margin-top: 30px;
  color: #031c56;
  font-weight: 800;
}

.weatherForecast {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.weatherForecastDate {
  text-align: center;
  color: #031c56;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weatherForecastIcon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.weatherForecastTemperatures {
  color: #f65282;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weatherForecastTemperature {
  padding: 0 10px;
}

footer {
  border-top: 3px solid #3404ad;
  text-align: center;
  padding-top: 0px;
  color: rgba(0, 0, 0, 0.4);
  position: relative;
  bottom: -70px;
}

a {
  color: #780c6d;
}
